/* Your styles here */
* {
  box-sizing: border-box;
}
header {
  background-color: black;
  text-align: center;
  height: 10em;
}
.logoepic {
  padding-top: 1em;
}
nav {
  background-image: url(/images/banner.jpg);
}
